*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.solar-syst {
	margin: 300px 0 0 0;
	width: 100%;
	height: 100%;
	position: relative;
}
.solar-syst:after {
	content: "";
	position: absolute;
	height: 2px;
	width: 2px;
	top: -2px;
	background: white;
	box-shadow: 999px 263px 0 0px rgba(255, 255, 255, 0.129),
		541px 596px 0 0px rgba(255, 255, 255, 0.377),
		630px 418px 0 0px rgba(255, 255, 255, 0.205),
		330px 673px 0 0px rgba(255, 255, 255, 0.649),
		714px 152px 0 0px rgba(255, 255, 255, 0.162),
		678px 906px 0 0px rgba(255, 255, 255, 0.487),
		79px 873px 0 0px rgba(255, 255, 255, 0.2),
		706px 866px 0 0px rgba(255, 255, 255, 0.418),
		1563px 148px 0 0px rgba(255, 255, 255, 0.571),
		758px 637px 0 0px rgba(255, 255, 255, 0.173),
		1314px 1638px 0 0px rgba(255, 255, 255, 0.428),
		677px 1342px 0 0px rgba(255, 255, 255, 0.286),
		278px 689px 0 0px rgba(255, 255, 255, 0.542),
		724px 1288px 0 0px rgba(255, 255, 255, 0.555),
		428px 1771px 0 0px rgba(255, 255, 255, 0.141),
		297px 1085px 0 0px rgba(255, 255, 255, 0.636),
		523px 326px 0 0px rgba(255, 255, 255, 0.826),
		1744px 1633px 0 0px rgba(255, 255, 255, 0.394),
		1652px 376px 0 0px rgba(255, 255, 255, 0.713),
		737px 41px 0 0px rgba(255, 255, 255, 0.192),
		883px 1052px 0 0px rgba(255, 255, 255, 0.644),
		492px 112px 0 0px rgba(255, 255, 255, 0.329),
		804px 1106px 0 0px rgba(255, 255, 255, 0.25),
		1669px 579px 0 0px rgba(255, 255, 255, 0.712),
		657px 37px 0 0px rgba(255, 255, 255, 0.763),
		68px 955px 0 0px rgba(255, 255, 255, 0.227),
		1056px 1022px 0 0px rgba(255, 255, 255, 0.941),
		910px 1642px 0 0px rgba(255, 255, 255, 0.419),
		656px 337px 0 0px rgba(255, 255, 255, 0.143),
		1316px 1237px 0 0px rgba(255, 255, 255, 0.295),
		356px 1412px 0 0px rgba(255, 255, 255, 0.378),
		1677px 814px 0 0px rgba(255, 255, 255, 0.372),
		629px 1035px 0 0px rgba(255, 255, 255, 0.477),
		946px 1790px 0 0px rgba(255, 255, 255, 0.853),
		840px 927px 0 0px rgba(255, 255, 255, 0.61),
		376px 828px 0 0px rgba(255, 255, 255, 0.998),
		1298px 1307px 0 0px rgba(255, 255, 255, 0.862),
		1749px 896px 0 0px rgba(255, 255, 255, 0.139),
		119px 1181px 0 0px rgba(255, 255, 255, 0.717),
		285px 1091px 0 0px rgba(255, 255, 255, 0.628),
		69px 1063px 0 0px rgba(255, 255, 255, 0.592),
		33px 1602px 0 0px rgba(255, 255, 255, 0.743),
		1702px 331px 0 0px rgba(255, 255, 255, 0.456),
		1425px 1084px 0 0px rgba(255, 255, 255, 0.421),
		534px 688px 0 0px rgba(255, 255, 255, 0.168),
		1346px 1432px 0 0px rgba(255, 255, 255, 0.621),
		1722px 687px 0 0px rgba(255, 255, 255, 0.847),
		1580px 143px 0 0px rgba(255, 255, 255, 0.101),
		844px 1046px 0 0px rgba(255, 255, 255, 0.872),
		1056px 420px 0 0px rgba(255, 255, 255, 0.142),
		589px 1410px 0 0px rgba(255, 255, 255, 0.051),
		1577px 174px 0 0px rgba(255, 255, 255, 0.564),
		1376px 696px 0 0px rgba(255, 255, 255, 0.653),
		915px 1797px 0 0px rgba(255, 255, 255, 0.094),
		1373px 1332px 0 0px rgba(255, 255, 255, 0.516),
		1634px 1598px 0 0px rgba(255, 255, 255, 0.678),
		1422px 381px 0 0px rgba(255, 255, 255, 0.061),
		1194px 1252px 0 0px rgba(255, 255, 255, 0.783),
		1141px 1374px 0 0px rgba(255, 255, 255, 0.534),
		1214px 1336px 0 0px rgba(255, 255, 255, 0.336),
		1343px 995px 0 0px rgba(255, 255, 255, 0.425),
		382px 451px 0 0px rgba(255, 255, 255, 0.94),
		1484px 1512px 0 0px rgba(255, 255, 255, 0.562),
		1730px 1606px 0 0px rgba(255, 255, 255, 0.432),
		1725px 74px 0 0px rgba(255, 255, 255, 0.659),
		558px 130px 0 0px rgba(255, 255, 255, 0.624),
		328px 1227px 0 0px rgba(255, 255, 255, 0.859),
		221px 1588px 0 0px rgba(255, 255, 255, 0.4),
		883px 1308px 0 0px rgba(255, 255, 255, 0.121),
		747px 141px 0 0px rgba(255, 255, 255, 0.444),
		553px 1782px 0 0px rgba(255, 255, 255, 0.188),
		382px 736px 0 0px rgba(255, 255, 255, 0.855),
		981px 1602px 0 0px rgba(255, 255, 255, 1),
		1265px 290px 0 0px rgba(255, 255, 255, 0.487),
		1551px 417px 0 0px rgba(255, 255, 255, 0.438),
		949px 191px 0 0px rgba(255, 255, 255, 0.162),
		669px 1719px 0 0px rgba(255, 255, 255, 0.106),
		1306px 1656px 0 0px rgba(255, 255, 255, 0.03),
		1619px 900px 0 0px rgba(255, 255, 255, 0.656),
		1796px 478px 0 0px rgba(255, 255, 255, 0.837),
		3px 654px 0 0px rgba(255, 255, 255, 0.634),
		573px 980px 0 0px rgba(255, 255, 255, 0.196),
		576px 1428px 0 0px rgba(255, 255, 255, 0.792),
		176px 749px 0 0px rgba(255, 255, 255, 0.888),
		45px 1669px 0 0px rgba(255, 255, 255, 0.218),
		441px 1095px 0 0px rgba(255, 255, 255, 0.349),
		1226px 2px 0 0px rgba(255, 255, 255, 0.826),
		877px 214px 0 0px rgba(255, 255, 255, 0.663),
		1352px 535px 0 0px rgba(255, 255, 255, 0.237),
		1492px 1435px 0 0px rgba(255, 255, 255, 0.683),
		226px 915px 0 0px rgba(255, 255, 255, 0.778),
		1490px 832px 0 0px rgba(255, 255, 255, 0.702),
		1767px 1377px 0 0px rgba(255, 255, 255, 0.837),
		1275px 561px 0 0px rgba(255, 255, 255, 0.104),
		1510px 253px 0 0px rgba(255, 255, 255, 0.744),
		706px 145px 0 0px rgba(255, 255, 255, 0.636),
		176px 577px 0 0px rgba(255, 255, 255, 0.522),
		619px 732px 0 0px rgba(255, 255, 255, 0.72),
		1456px 1740px 0 0px rgba(255, 255, 255, 0.149),
		1662px 1799px 0 0px rgba(255, 255, 255, 0.423),
		305px 288px 0 0px rgba(255, 255, 255, 0.741),
		170px 301px 0 0px rgba(255, 255, 255, 0.873),
		1085px 636px 0 0px rgba(255, 255, 255, 0.962),
		465px 661px 0 0px rgba(255, 255, 255, 0.938),
		1045px 1083px 0 0px rgba(255, 255, 255, 0.711),
		1142px 872px 0 0px rgba(255, 255, 255, 0.743),
		1620px 1108px 0 0px rgba(255, 255, 255, 0.339),
		110px 1201px 0 0px rgba(255, 255, 255, 0.031),
		532px 109px 0 0px rgba(255, 255, 255, 0.472),
		578px 830px 0 0px rgba(255, 255, 255, 0.153),
		312px 991px 0 0px rgba(255, 255, 255, 0.463),
		1240px 77px 0 0px rgba(255, 255, 255, 0.24),
		1231px 1346px 0 0px rgba(255, 255, 255, 0.107),
		1405px 481px 0 0px rgba(255, 255, 255, 0.829),
		1078px 1108px 0 0px rgba(255, 255, 255, 0.706),
		651px 1477px 0 0px rgba(255, 255, 255, 0.15),
		1454px 1431px 0 0px rgba(255, 255, 255, 0.834),
		795px 247px 0 0px rgba(255, 255, 255, 0.751),
		1250px 1758px 0 0px rgba(255, 255, 255, 0.345),
		733px 643px 0 0px rgba(255, 255, 255, 0.604),
		1665px 787px 0 0px rgba(255, 255, 255, 0.978),
		76px 1757px 0 0px rgba(255, 255, 255, 0.494),
		248px 149px 0 0px rgba(255, 255, 255, 0.41),
		1588px 57px 0 0px rgba(255, 255, 255, 0.808),
		1042px 1144px 0 0px rgba(255, 255, 255, 0.735),
		876px 1520px 0 0px rgba(255, 255, 255, 0.482),
		815px 1206px 0 0px rgba(255, 255, 255, 0.556),
		823px 1586px 0 0px rgba(255, 255, 255, 0.291),
		1012px 1693px 0 0px rgba(255, 255, 255, 0.929),
		1448px 748px 0 0px rgba(255, 255, 255, 0.613),
		273px 671px 0 0px rgba(255, 255, 255, 0.324),
		1208px 896px 0 0px rgba(255, 255, 255, 0.102),
		472px 1484px 0 0px rgba(255, 255, 255, 0.677),
		447px 1381px 0 0px rgba(255, 255, 255, 0.165),
		1458px 1657px 0 0px rgba(255, 255, 255, 0.249),
		774px 372px 0 0px rgba(255, 255, 255, 0.514),
		1716px 1779px 0 0px rgba(255, 255, 255, 0.458),
		817px 83px 0 0px rgba(255, 255, 255, 0.83),
		109px 1577px 0 0px rgba(255, 255, 255, 0.727),
		707px 607px 0 0px rgba(255, 255, 255, 0.943),
		1171px 888px 0 0px rgba(255, 255, 255, 0.286),
		628px 1175px 0 0px rgba(255, 255, 255, 0.558),
		1110px 1632px 0 0px rgba(255, 255, 255, 0.595),
		514px 1560px 0 0px rgba(255, 255, 255, 0.301),
		1615px 511px 0 0px rgba(255, 255, 255, 0.457),
		841px 1774px 0 0px rgba(255, 255, 255, 0.25),
		1532px 1172px 0 0px rgba(255, 255, 255, 0.135),
		1363px 1702px 0 0px rgba(255, 255, 255, 0.136),
		113px 1653px 0 0px rgba(255, 255, 255, 0.759),
		1312px 1294px 0 0px rgba(255, 255, 255, 0.667),
		714px 816px 0 0px rgba(255, 255, 255, 0.397),
		1587px 378px 0 0px rgba(255, 255, 255, 0.566),
		895px 1103px 0 0px rgba(255, 255, 255, 0.533),
		1452px 139px 0 0px rgba(255, 255, 255, 0.938),
		270px 1490px 0 0px rgba(255, 255, 255, 0.728),
		1452px 415px 0 0px rgba(255, 255, 255, 0.899),
		1288px 945px 0 0px rgba(255, 255, 255, 0.114),
		657px 803px 0 0px rgba(255, 255, 255, 0.634),
		1657px 448px 0 0px rgba(255, 255, 255, 0.338),
		1555px 1609px 0 0px rgba(255, 255, 255, 0.258),
		1544px 575px 0 0px rgba(255, 255, 255, 0.804),
		1434px 635px 0 0px rgba(255, 255, 255, 0.666),
		216px 782px 0 0px rgba(255, 255, 255, 0.685),
		358px 1620px 0 0px rgba(255, 255, 255, 0.482),
		671px 1021px 0 0px rgba(255, 255, 255, 0.125),
		53px 261px 0 0px rgba(255, 255, 255, 0.217),
		685px 383px 0 0px rgba(255, 255, 255, 0.086),
		291px 1737px 0 0px rgba(255, 255, 255, 0.27),
		272px 820px 0 0px rgba(255, 255, 255, 0.057),
		259px 1124px 0 0px rgba(255, 255, 255, 0.032),
		1375px 1638px 0 0px rgba(255, 255, 255, 0.044),
		400px 1187px 0 0px rgba(255, 255, 255, 0.62),
		253px 629px 0 0px rgba(255, 255, 255, 0.762),
		678px 1202px 0 0px rgba(255, 255, 255, 0.855),
		210px 716px 0 0px rgba(255, 255, 255, 0.481),
		1326px 1439px 0 0px rgba(255, 255, 255, 0.241),
		776px 1333px 0 0px rgba(255, 255, 255, 0.965),
		1281px 1454px 0 0px rgba(255, 255, 255, 0.579),
		868px 1249px 0 0px rgba(255, 255, 255, 0.411),
		170px 36px 0 0px rgba(255, 255, 255, 0.897),
		1792px 419px 0 0px rgba(255, 255, 255, 0.558),
		200px 1168px 0 0px rgba(255, 255, 255, 0.013),
		384px 1474px 0 0px rgba(255, 255, 255, 0.023),
		579px 890px 0 0px rgba(255, 255, 255, 0.345),
		1739px 802px 0 0px rgba(255, 255, 255, 0.161),
		1499px 1603px 0 0px rgba(255, 255, 255, 0.353),
		1150px 1681px 0 0px rgba(255, 255, 255, 0.173),
		763px 1168px 0 0px rgba(255, 255, 255, 0.537),
		1685px 1110px 0 0px rgba(255, 255, 255, 0.205),
		1592px 1115px 0 0px rgba(255, 255, 255, 0.125),
		132px 277px 0 0px rgba(255, 255, 255, 0.853),
		862px 962px 0 0px rgba(255, 255, 255, 0.765),
		354px 1378px 0 0px rgba(255, 255, 255, 0.244),
		385px 347px 0 0px rgba(255, 255, 255, 0.279),
		352px 1271px 0 0px rgba(255, 255, 255, 0.423),
		646px 386px 0 0px rgba(255, 255, 255, 0.061),
		1307px 306px 0 0px rgba(255, 255, 255, 0.614),
		1259px 1303px 0 0px rgba(255, 255, 255, 0.217),
		1526px 1304px 0 0px rgba(255, 255, 255, 0.759),
		1131px 1494px 0 0px rgba(255, 255, 255, 0.023),
		1257px 338px 0 0px rgba(255, 255, 255, 0.482),
		435px 48px 0 0px rgba(255, 255, 255, 0.63),
		265px 249px 0 0px rgba(255, 255, 255, 0.61),
		642px 895px 0 0px rgba(255, 255, 255, 0.77),
		66px 486px 0 0px rgba(255, 255, 255, 0.983),
		367px 1540px 0 0px rgba(255, 255, 255, 0.327),
		1485px 311px 0 0px rgba(255, 255, 255, 0.534),
		862px 1404px 0 0px rgba(255, 255, 255, 0.296),
		56px 1680px 0 0px rgba(255, 255, 255, 0.999),
		222px 1417px 0 0px rgba(255, 255, 255, 0.258),
		886px 1141px 0 0px rgba(255, 255, 255, 0.139),
		1667px 1225px 0 0px rgba(255, 255, 255, 0.55),
		770px 1056px 0 0px rgba(255, 255, 255, 0.059),
		1001px 961px 0 0px rgba(255, 255, 255, 0.16),
		344px 429px 0 0px rgba(255, 255, 255, 0.693),
		438px 328px 0 0px rgba(255, 255, 255, 0.138),
		1697px 1446px 0 0px rgba(255, 255, 255, 0.76),
		1420px 1387px 0 0px rgba(255, 255, 255, 0.241),
		1755px 214px 0 0px rgba(255, 255, 255, 0.102),
		1030px 1323px 0 0px rgba(255, 255, 255, 0.221),
		44px 1547px 0 0px rgba(255, 255, 255, 0.756),
		1781px 1682px 0 0px rgba(255, 255, 255, 0.327),
		341px 1171px 0 0px rgba(255, 255, 255, 0.124),
		1457px 1347px 0 0px rgba(255, 255, 255, 0.719),
		387px 73px 0 0px rgba(255, 255, 255, 0.517),
		1558px 828px 0 0px rgba(255, 255, 255, 0.808),
		542px 129px 0 0px rgba(255, 255, 255, 0.356),
		1616px 13px 0 0px rgba(255, 255, 255, 0.849),
		413px 1331px 0 0px rgba(255, 255, 255, 0.419),
		687px 990px 0 0px rgba(255, 255, 255, 0.301),
		1297px 586px 0 0px rgba(255, 255, 255, 0.77),
		786px 1240px 0 0px rgba(255, 255, 255, 0.342),
		1750px 183px 0 0px rgba(255, 255, 255, 0.593),
		242px 1638px 0 0px rgba(255, 255, 255, 0.2),
		971px 1249px 0 0px rgba(255, 255, 255, 0.26),
		1101px 761px 0 0px rgba(255, 255, 255, 0.952),
		200px 216px 0 0px rgba(255, 255, 255, 0.18),
		768px 1209px 0 0px rgba(255, 255, 255, 0.412),
		669px 241px 0 0px rgba(255, 255, 255, 0.153),
		950px 142px 0 0px rgba(255, 255, 255, 0.119),
		212px 1368px 0 0px rgba(255, 255, 255, 0.372),
		853px 1236px 0 0px rgba(255, 255, 255, 0.711),
		460px 912px 0 0px rgba(255, 255, 255, 0.034),
		703px 1598px 0 0px rgba(255, 255, 255, 0.636),
		1150px 498px 0 0px rgba(255, 255, 255, 0.741),
		1173px 1627px 0 0px rgba(255, 255, 255, 0.803),
		611px 1206px 0 0px rgba(255, 255, 255, 0.865),
		282px 439px 0 0px rgba(255, 255, 255, 0.063),
		974px 1187px 0 0px rgba(255, 255, 255, 0.531),
		247px 983px 0 0px rgba(255, 255, 255, 0.287),
		544px 1248px 0 0px rgba(255, 255, 255, 0.989),
		1538px 1742px 0 0px rgba(255, 255, 255, 0.184),
		1239px 281px 0 0px rgba(255, 255, 255, 0.097),
		111px 362px 0 0px rgba(255, 255, 255, 0.587),
		393px 770px 0 0px rgba(255, 255, 255, 0.376),
		425px 58px 0 0px rgba(255, 255, 255, 0.636),
		1303px 895px 0 0px rgba(255, 255, 255, 0.85),
		1660px 941px 0 0px rgba(255, 255, 255, 0.202),
		1024px 550px 0 0px rgba(255, 255, 255, 0.258),
		1283px 1223px 0 0px rgba(255, 255, 255, 1),
		1581px 1363px 0 0px rgba(255, 255, 255, 0.648),
		1564px 1199px 0 0px rgba(255, 255, 255, 0.84),
		1784px 580px 0 0px rgba(255, 255, 255, 0.38),
		689px 349px 0 0px rgba(255, 255, 255, 0.005),
		580px 1607px 0 0px rgba(255, 255, 255, 0.684),
		1402px 1245px 0 0px rgba(255, 255, 255, 0.643),
		1226px 954px 0 0px rgba(255, 255, 255, 0.139),
		277px 325px 0 0px rgba(255, 255, 255, 0.734),
		1729px 1074px 0 0px rgba(255, 255, 255, 0.788),
		1426px 1367px 0 0px rgba(255, 255, 255, 0.062),
		1070px 1640px 0 0px rgba(255, 255, 255, 0.67),
		202px 1758px 0 0px rgba(255, 255, 255, 0.608),
		1513px 136px 0 0px rgba(255, 255, 255, 0.6),
		762px 40px 0 0px rgba(255, 255, 255, 0.264),
		1618px 1107px 0 0px rgba(255, 255, 255, 0.957),
		986px 827px 0 0px rgba(255, 255, 255, 0.01),
		1067px 72px 0 0px rgba(255, 255, 255, 0.994),
		1624px 1249px 0 0px rgba(255, 255, 255, 0.665),
		135px 56px 0 0px rgba(255, 255, 255, 0.072),
		452px 1125px 0 0px rgba(255, 255, 255, 0.607),
		137px 242px 0 0px rgba(255, 255, 255, 0.603),
		181px 1360px 0 0px rgba(255, 255, 255, 0.518),
		926px 1280px 0 0px rgba(255, 255, 255, 0.459),
		1363px 361px 0 0px rgba(255, 255, 255, 0.907),
		1588px 1710px 0 0px rgba(255, 255, 255, 0.074),
		733px 408px 0 0px rgba(255, 255, 255, 0.856),
		1451px 692px 0 0px rgba(255, 255, 255, 0.301),
		1317px 174px 0 0px rgba(255, 255, 255, 0.992),
		1317px 252px 0 0px rgba(255, 255, 255, 0.329),
		938px 1790px 0 0px rgba(255, 255, 255, 0.601),
		1615px 1397px 0 0px rgba(255, 255, 255, 0.013),
		1122px 1667px 0 0px rgba(255, 255, 255, 0.134),
		433px 1407px 0 0px rgba(255, 255, 255, 0.397),
		55px 1688px 0 0px rgba(255, 255, 255, 0.544),
		869px 1480px 0 0px rgba(255, 255, 255, 0.273),
		1028px 1329px 0 0px rgba(255, 255, 255, 0.87),
		98px 1591px 0 0px rgba(255, 255, 255, 0.125),
		1772px 932px 0 0px rgba(255, 255, 255, 0.244),
		396px 1439px 0 0px rgba(255, 255, 255, 0.467),
		222px 1072px 0 0px rgba(255, 255, 255, 0.519),
		1336px 1795px 0 0px rgba(255, 255, 255, 0.594),
		829px 135px 0 0px rgba(255, 255, 255, 0.633),
		440px 1033px 0 0px rgba(255, 255, 255, 0.404),
		1663px 1258px 0 0px rgba(255, 255, 255, 0.256),
		1077px 1747px 0 0px rgba(255, 255, 255, 0.445),
		822px 1600px 0 0px rgba(255, 255, 255, 0.91),
		1467px 1182px 0 0px rgba(255, 255, 255, 0.497),
		1510px 452px 0 0px rgba(255, 255, 255, 0.312),
		542px 405px 0 0px rgba(255, 255, 255, 0.2),
		1082px 524px 0 0px rgba(255, 255, 255, 0.577),
		1791px 690px 0 0px rgba(255, 255, 255, 0.352),
		1223px 1785px 0 0px rgba(255, 255, 255, 0.462),
		1722px 1087px 0 0px rgba(255, 255, 255, 0.372),
		1181px 1661px 0 0px rgba(255, 255, 255, 0.362),
		1097px 1780px 0 0px rgba(255, 255, 255, 0.28),
		784px 1714px 0 0px rgba(255, 255, 255, 0.532),
		1212px 1736px 0 0px rgba(255, 255, 255, 0.322),
		1587px 596px 0 0px rgba(255, 255, 255, 0.592),
		1341px 336px 0 0px rgba(255, 255, 255, 0.627),
		1059px 704px 0 0px rgba(255, 255, 255, 0.324),
		1093px 1074px 0 0px rgba(255, 255, 255, 0.563),
		53px 540px 0 0px rgba(255, 255, 255, 0.782),
		1764px 1623px 0 0px rgba(255, 255, 255, 0.837),
		1212px 1671px 0 0px rgba(255, 255, 255, 0.317),
		1684px 1358px 0 0px rgba(255, 255, 255, 0.803),
		324px 17px 0 0px rgba(255, 255, 255, 0.441),
		854px 444px 0 0px rgba(255, 255, 255, 0.177),
		1112px 1004px 0 0px rgba(255, 255, 255, 0.891),
		248px 1741px 0 0px rgba(255, 255, 255, 0.676),
		1702px 1499px 0 0px rgba(255, 255, 255, 0.327),
		1290px 1654px 0 0px rgba(255, 255, 255, 0.194),
		1102px 1444px 0 0px rgba(255, 255, 255, 0.496),
		1597px 617px 0 0px rgba(255, 255, 255, 0.206),
		1141px 948px 0 0px rgba(255, 255, 255, 0.091),
		83px 1089px 0 0px rgba(255, 255, 255, 0.03),
		851px 805px 0 0px rgba(255, 255, 255, 0.383),
		1631px 493px 0 0px rgba(255, 255, 255, 0.957),
		407px 1153px 0 0px rgba(255, 255, 255, 0.752),
		1418px 1463px 0 0px rgba(255, 255, 255, 0.464),
		491px 683px 0 0px rgba(255, 255, 255, 0.303),
		1502px 1080px 0 0px rgba(255, 255, 255, 0.876),
		1243px 1408px 0 0px rgba(255, 255, 255, 0.154),
		1582px 1497px 0 0px rgba(255, 255, 255, 0.964),
		450px 496px 0 0px rgba(255, 255, 255, 0.667),
		1429px 658px 0 0px rgba(255, 255, 255, 0.36),
		933px 1688px 0 0px rgba(255, 255, 255, 0.849),
		477px 888px 0 0px rgba(255, 255, 255, 0.46),
		110px 1436px 0 0px rgba(255, 255, 255, 0.354),
		209px 1529px 0 0px rgba(255, 255, 255, 0.838),
		1312px 407px 0 0px rgba(255, 255, 255, 0.178),
		1448px 922px 0 0px rgba(255, 255, 255, 0.618),
		171px 1224px 0 0px rgba(255, 255, 255, 0.376),
		1194px 1543px 0 0px rgba(255, 255, 255, 0.602),
		1633px 1159px 0 0px rgba(255, 255, 255, 0.683),
		530px 1362px 0 0px rgba(255, 255, 255, 0.146),
		1299px 1483px 0 0px rgba(255, 255, 255, 0.283),
		1324px 695px 0 0px rgba(255, 255, 255, 0.44),
		972px 400px 0 0px rgba(255, 255, 255, 0.583),
		1631px 1px 0 0px rgba(255, 255, 255, 0.212),
		311px 1382px 0 0px rgba(255, 255, 255, 0.764),
		1155px 116px 0 0px rgba(255, 255, 255, 0.913),
		1479px 660px 0 0px rgba(255, 255, 255, 0.695),
		654px 354px 0 0px rgba(255, 255, 255, 0.042),
		1445px 46px 0 0px rgba(255, 255, 255, 0.359),
		52px 219px 0 0px rgba(255, 255, 255, 0.763),
		901px 1270px 0 0px rgba(255, 255, 255, 0.141),
		585px 674px 0 0px rgba(255, 255, 255, 0.995),
		1667px 959px 0 0px rgba(255, 255, 255, 0.918),
		501px 68px 0 0px rgba(255, 255, 255, 0.696),
		21px 1470px 0 0px rgba(255, 255, 255, 0.294),
		523px 699px 0 0px rgba(255, 255, 255, 0.775),
		226px 640px 0 0px rgba(255, 255, 255, 0.962),
		438px 343px 0 0px rgba(255, 255, 255, 0.605),
		333px 1715px 0 0px rgba(255, 255, 255, 0.748),
		677px 261px 0 0px rgba(255, 255, 255, 0.844),
		1439px 774px 0 0px rgba(255, 255, 255, 0.621),
		464px 1124px 0 0px rgba(255, 255, 255, 0.294),
		1703px 1501px 0 0px rgba(255, 255, 255, 0.26),
		955px 1240px 0 0px rgba(255, 255, 255, 0.234),
		1705px 360px 0 0px rgba(255, 255, 255, 0.275),
		1386px 1435px 0 0px rgba(255, 255, 255, 0.157),
		94px 1397px 0 0px rgba(255, 255, 255, 0.49),
		461px 445px 0 0px rgba(255, 255, 255, 0.935),
		158px 1188px 0 0px rgba(255, 255, 255, 0.529),
		531px 1366px 0 0px rgba(255, 255, 255, 0.726),
		1579px 217px 0 0px rgba(255, 255, 255, 0.482),
		150px 350px 0 0px rgba(255, 255, 255, 0.154),
		458px 617px 0 0px rgba(255, 255, 255, 0.362),
		438px 998px 0 0px rgba(255, 255, 255, 0.914),
		333px 232px 0 0px rgba(255, 255, 255, 0.894),
		1729px 1560px 0 0px rgba(255, 255, 255, 0.879),
		825px 1197px 0 0px rgba(255, 255, 255, 0.994),
		1085px 405px 0 0px rgba(255, 255, 255, 0.328),
		1531px 150px 0 0px rgba(255, 255, 255, 0.237),
		1103px 882px 0 0px rgba(255, 255, 255, 0.804),
		538px 582px 0 0px rgba(255, 255, 255, 0.193),
		1449px 1794px 0 0px rgba(255, 255, 255, 0.912),
		144px 1600px 0 0px rgba(255, 255, 255, 0.007),
		724px 1506px 0 0px rgba(255, 255, 255, 0.958),
		1768px 748px 0 0px rgba(255, 255, 255, 0.897),
		867px 708px 0 0px rgba(255, 255, 255, 0.601),
		139px 1553px 0 0px rgba(255, 255, 255, 0.895),
		1443px 1774px 0 0px rgba(255, 255, 255, 0.738),
		1090px 1370px 0 0px rgba(255, 255, 255, 0.066),
		970px 1205px 0 0px rgba(255, 255, 255, 0.649),
		1556px 615px 0 0px rgba(255, 255, 255, 0.385),
		577px 1534px 0 0px rgba(255, 255, 255, 0.978),
		988px 679px 0 0px rgba(255, 255, 255, 0.601),
		1042px 422px 0 0px rgba(255, 255, 255, 0.234),
		1236px 1355px 0 0px rgba(255, 255, 255, 0.466),
		113px 451px 0 0px rgba(255, 255, 255, 0.273),
		1344px 1491px 0 0px rgba(255, 255, 255, 0.289),
		262px 746px 0 0px rgba(255, 255, 255, 0.174),
		702px 1112px 0 0px rgba(255, 255, 255, 0.836),
		270px 404px 0 0px rgba(255, 255, 255, 0.341),
		362px 984px 0 0px rgba(255, 255, 255, 0.799),
		41px 927px 0 0px rgba(255, 255, 255, 0.883),
		1063px 478px 0 0px rgba(255, 255, 255, 0.183),
		91px 1011px 0 0px rgba(255, 255, 255, 0.879),
		1258px 1580px 0 0px rgba(255, 255, 255, 0.612),
		1079px 1580px 0 0px rgba(255, 255, 255, 0.821),
		556px 149px 0 0px rgba(255, 255, 255, 0.681),
		1545px 78px 0 0px rgba(255, 255, 255, 0.871),
		1791px 1746px 0 0px rgba(255, 255, 255, 0.705),
		1446px 1487px 0 0px rgba(255, 255, 255, 0.928),
		864px 389px 0 0px rgba(255, 255, 255, 0.052),
		170px 1265px 0 0px rgba(255, 255, 255, 0.213),
		492px 1077px 0 0px rgba(255, 255, 255, 0.335),
		1378px 1790px 0 0px rgba(255, 255, 255, 0.757),
		1038px 628px 0 0px rgba(255, 255, 255, 0.377),
		925px 1461px 0 0px rgba(255, 255, 255, 0.147),
		620px 1068px 0 0px rgba(255, 255, 255, 0.687),
		1313px 1666px 0 0px rgba(255, 255, 255, 0.759),
		864px 98px 0 0px rgba(255, 255, 255, 0.904),
		1444px 721px 0 0px rgba(255, 255, 255, 0.599),
		1666px 1468px 0 0px rgba(255, 255, 255, 0.15),
		503px 818px 0 0px rgba(255, 255, 255, 0.883),
		92px 19px 0 0px rgba(255, 255, 255, 0.763),
		189px 940px 0 0px rgba(255, 255, 255, 0.692),
		1112px 602px 0 0px rgba(255, 255, 255, 0.324),
		462px 1217px 0 0px rgba(255, 255, 255, 0.94),
		95px 289px 0 0px rgba(255, 255, 255, 0.508),
		1687px 1790px 0 0px rgba(255, 255, 255, 0.021),
		605px 552px 0 0px rgba(255, 255, 255, 0.519),
		184px 1654px 0 0px rgba(255, 255, 255, 0.402),
		1213px 771px 0 0px rgba(255, 255, 255, 0.735),
		1503px 1094px 0 0px rgba(255, 255, 255, 0.847),
		1254px 151px 0 0px rgba(255, 255, 255, 0.188),
		1133px 1700px 0 0px rgba(255, 255, 255, 0.182),
		489px 711px 0 0px rgba(255, 255, 255, 0.122),
		1529px 746px 0 0px rgba(255, 255, 255, 0.791),
		1597px 671px 0 0px rgba(255, 255, 255, 0.481),
		538px 187px 0 0px rgba(255, 255, 255, 0.227),
		1359px 1000px 0 0px rgba(255, 255, 255, 0.615),
		1175px 592px 0 0px rgba(255, 255, 255, 0.621),
		338px 64px 0 0px rgba(255, 255, 255, 0.657),
		726px 543px 0 0px rgba(255, 255, 255, 0.755),
		704px 1789px 0 0px rgba(255, 255, 255, 0.186),
		701px 1305px 0 0px rgba(255, 255, 255, 0.018),
		1050px 1357px 0 0px rgba(255, 255, 255, 0.509),
		935px 1031px 0 0px rgba(255, 255, 255, 0.551),
		1427px 895px 0 0px rgba(255, 255, 255, 0.824),
		41px 1051px 0 0px rgba(255, 255, 255, 0.474),
		632px 1029px 0 0px rgba(255, 255, 255, 0.2),
		1129px 1062px 0 0px rgba(255, 255, 255, 0.094),
		1388px 1017px 0 0px rgba(255, 255, 255, 0.621),
		739px 1665px 0 0px rgba(255, 255, 255, 0.518),
		578px 872px 0 0px rgba(255, 255, 255, 0.376),
		1788px 890px 0 0px rgba(255, 255, 255, 0.533),
		1516px 1688px 0 0px rgba(255, 255, 255, 0.923),
		247px 241px 0 0px rgba(255, 255, 255, 0.207),
		1031px 1608px 0 0px rgba(255, 255, 255, 0.8),
		1317px 1496px 0 0px rgba(255, 255, 255, 0.427),
		1309px 923px 0 0px rgba(255, 255, 255, 0.109),
		554px 1011px 0 0px rgba(255, 255, 255, 0.112),
		1732px 1469px 0 0px rgba(255, 255, 255, 0.058),
		989px 1247px 0 0px rgba(255, 255, 255, 0.34),
		1623px 702px 0 0px rgba(255, 255, 255, 0.491),
		1410px 1385px 0 0px rgba(255, 255, 255, 0.501),
		637px 287px 0 0px rgba(255, 255, 255, 0.289),
		1637px 490px 0 0px rgba(255, 255, 255, 0.23),
		665px 544px 0 0px rgba(255, 255, 255, 0.025),
		861px 716px 0 0px rgba(255, 255, 255, 0.591),
		761px 824px 0 0px rgba(255, 255, 255, 0.831),
		306px 164px 0 0px rgba(255, 255, 255, 0.935),
		242px 1138px 0 0px rgba(255, 255, 255, 0.015),
		1202px 565px 0 0px rgba(255, 255, 255, 0.868),
		365px 610px 0 0px rgba(255, 255, 255, 0.367),
		1151px 95px 0 0px rgba(255, 255, 255, 0.025),
		1530px 1397px 0 0px rgba(255, 255, 255, 0.631),
		1758px 437px 0 0px rgba(255, 255, 255, 0.454),
		1489px 1104px 0 0px rgba(255, 255, 255, 0.512),
		291px 395px 0 0px rgba(255, 255, 255, 0.685),
		486px 730px 0 0px rgba(255, 255, 255, 0.454),
		261px 1791px 0 0px rgba(255, 255, 255, 0.064),
		1606px 981px 0 0px rgba(255, 255, 255, 0.235),
		323px 438px 0 0px rgba(255, 255, 255, 0.566),
		1337px 1483px 0 0px rgba(255, 255, 255, 0.697),
		461px 1147px 0 0px rgba(255, 255, 255, 0.847),
		899px 1703px 0 0px rgba(255, 255, 255, 0.827);
	border-radius: 100px;
}
.solar-syst div {
	border-radius: 1000px;
	top: 50%;
	left: 50%;
	position: absolute;
	z-index: 999;
}
.solar-syst div:not(.sun) {
	border: 1px solid rgba(102, 166, 229, 0.12);
}
.solar-syst div:not(.sun):before {
	left: 50%;
	border-radius: 100px;
	content: "";
	position: absolute;
}
.solar-syst div:not(.asteroids-belt):before {
	box-shadow: inset 0 6px 0 -2px rgba(0, 0, 0, 0.25);
}

.sun {
	background: radial-gradient(
		ellipse at center,
		#ffd000 1%,
		#f9b700 39%,
		#f9b700 39%,
		#e06317 100%
	);
	height: 40px;
	width: 40px;
	margin-top: -20px;
	margin-left: -20px;
	background-clip: padding-box;
	border: 0 !important;
	background-position: -28px -103px;
	background-size: 175%;
	box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4),
		0 0 22px 11px rgba(255, 203, 0, 0.13);
}

.mercury {
	height: 70px;
	width: 70px;
	margin-top: -35px;
	margin-left: -35px;
	-webkit-animation: orb 0.71867343561s linear infinite;
	animation: orb 0.71867343561s linear infinite;
}
.mercury:before {
	height: 4px;
	width: 4px;
	background: #9f5e26;
	margin-top: -2px;
	margin-left: -2px;
}

.venus {
	height: 100px;
	width: 100px;
	margin-top: -50px;
	margin-left: -50px;
	-webkit-animation: orb 1.84555338265s linear infinite;
	animation: orb 1.84555338265s linear infinite;
}
.venus:before {
	height: 8px;
	width: 8px;
	background: #beb768;
	margin-top: -4px;
	margin-left: -4px;
}

.earth {
	height: 145px;
	width: 145px;
	margin-top: -72.5px;
	margin-left: -72.5px;
	-webkit-animation: orb 3s linear infinite;
	animation: orb 3s linear infinite;
}
.earth:before {
	height: 6px;
	width: 6px;
	background: #11abe9;
	margin-top: -3px;
	margin-left: -3px;
}
.earth:after {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 50%;
	top: 0px;
	margin-left: -9px;
	margin-top: -9px;
	border-radius: 100px;
	box-shadow: 0 -10px 0 -8px grey;
	-webkit-animation: orb 0.22440352158s linear infinite;
	animation: orb 0.22440352158s linear infinite;
}

.mars {
	height: 190px;
	width: 190px;
	margin-top: -95px;
	margin-left: -95px;
	-webkit-animation: orb 5.64261314589s linear infinite;
	animation: orb 5.64261314589s linear infinite;
}
.mars:before {
	height: 6px;
	width: 6px;
	background: #cf3921;
	margin-top: -3px;
	margin-left: -3px;
}

.jupiter {
	height: 340px;
	width: 340px;
	margin-top: -170px;
	margin-left: -170px;
	-webkit-animation: orb 35.57228171013s linear infinite;
	animation: orb 35.57228171013s linear infinite;
}
.jupiter:before {
	height: 18px;
	width: 18px;
	background: #c76e2a;
	margin-top: -9px;
	margin-left: -9px;
}

.saturn {
	height: 440px;
	width: 440px;
	margin-top: -220px;
	margin-left: -220px;
	-webkit-animation: orb 88.26952471456s linear infinite;
	animation: orb 88.26952471456s linear infinite;
}
.saturn:before {
	height: 12px;
	width: 12px;
	background: #e7c194;
	margin-top: -6px;
	margin-left: -6px;
}
.saturn:after {
	position: absolute;
	content: "";
	height: 2.34%;
	width: 4.676%;
	left: 50%;
	top: 0px;
	transform: rotateZ(-52deg);
	margin-left: -2.3%;
	margin-top: -1.2%;
	border-radius: 50% 50% 50% 50%;
	box-shadow: 0 1px 0 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
	-webkit-animation: orb 882.6952471456s linear infinite;
	animation: orb 882.6952471456s linear infinite;
	animation-direction: reverse;
	transform-origin: 52% 60%;
}

.uranus {
	height: 520px;
	width: 520px;
	margin-top: -260px;
	margin-left: -260px;
	-webkit-animation: orb 251.24001967933s linear infinite;
	animation: orb 251.24001967933s linear infinite;
}
.uranus:before {
	height: 10px;
	width: 10px;
	background: #b5e3e3;
	margin-top: -5px;
	margin-left: -5px;
}

.neptune {
	height: 630px;
	width: 630px;
	margin-top: -315px;
	margin-left: -315px;
	-webkit-animation: orb 491.17838624549s linear infinite;
	animation: orb 491.17838624549s linear infinite;
}
.neptune:before {
	height: 10px;
	width: 10px;
	background: #175e9e;
	margin-top: -5px;
	margin-left: -5px;
}

.asteroids-belt {
	opacity: 0.7;
	border-color: transparent !important;
	height: 300px;
	width: 300px;
	margin-top: -150px;
	margin-left: -150px;
	-webkit-animation: orb 17.99558282773s linear infinite;
	animation: orb 17.99558282773s linear infinite;
	overflow: hidden;
}
.asteroids-belt:before {
	top: 50%;
	height: 210px;
	width: 210px;
	margin-left: -105px;
	margin-top: -105px;
	background: transparent;
	border-radius: 140px !important;
	box-shadow: 22px -69px 0 -104px rgba(255, 255, 255, 0.859),
		-40px 11px 0 -104px rgba(255, 255, 255, 0.829),
		16px -138px 0 -104px rgba(255, 255, 255, 0.968),
		-40px -31px 0 -104px rgba(255, 255, 255, 0.497),
		-131px -66px 0 -104px rgba(255, 255, 255, 0.765),
		104px 102px 0 -104px rgba(255, 255, 255, 0.051),
		12px 122px 0 -104px rgba(255, 255, 255, 0.637),
		131px -118px 0 -104px rgba(255, 255, 255, 0.474),
		126px -34px 0 -104px rgba(255, 255, 255, 0.12),
		-80px -104px 0 -104px rgba(255, 255, 255, 0.916),
		85px -87px 0 -104px rgba(255, 255, 255, 0.791),
		-23px 57px 0 -104px rgba(255, 255, 255, 0.056),
		59px 43px 0 -104px rgba(255, 255, 255, 0.855),
		97px -98px 0 -104px rgba(255, 255, 255, 0.832),
		-106px 57px 0 -104px rgba(255, 255, 255, 0.082),
		18px 74px 0 -104px rgba(255, 255, 255, 0.133),
		1px 140px 0 -104px rgba(255, 255, 255, 0.889),
		-133px -129px 0 -104px rgba(255, 255, 255, 0.844),
		-123px -33px 0 -104px rgba(255, 255, 255, 0.968),
		120px -136px 0 -104px rgba(255, 255, 255, 0.562),
		-32px -91px 0 -104px rgba(255, 255, 255, 0.979),
		-6px 59px 0 -104px rgba(255, 255, 255, 0.467),
		2px -48px 0 -104px rgba(255, 255, 255, 0.371),
		-31px 121px 0 -104px rgba(255, 255, 255, 0.218),
		-86px 86px 0 -104px rgba(255, 255, 255, 0.822),
		35px 22px 0 -104px rgba(255, 255, 255, 0.275),
		109px 82px 0 -104px rgba(255, 255, 255, 0.697),
		78px -29px 0 -104px rgba(255, 255, 255, 0.01),
		4px -138px 0 -104px rgba(255, 255, 255, 0.094),
		79px -3px 0 -104px rgba(255, 255, 255, 0.525),
		68px -127px 0 -104px rgba(255, 255, 255, 0.255),
		-76px 138px 0 -104px rgba(255, 255, 255, 0.545),
		-118px 29px 0 -104px rgba(255, 255, 255, 0.724),
		-5px -35px 0 -104px rgba(255, 255, 255, 0.105),
		-48px 80px 0 -104px rgba(255, 255, 255, 0.863),
		39px -25px 0 -104px rgba(255, 255, 255, 0.908),
		-5px 131px 0 -104px rgba(255, 255, 255, 0.665),
		41px -114px 0 -104px rgba(255, 255, 255, 0.011),
		-52px -57px 0 -104px rgba(255, 255, 255, 0.155),
		110px 98px 0 -104px rgba(255, 255, 255, 0.343),
		-64px 67px 0 -104px rgba(255, 255, 255, 0.471),
		39px 87px 0 -104px rgba(255, 255, 255, 0.47),
		-36px 138px 0 -104px rgba(255, 255, 255, 0.432),
		132px -133px 0 -104px rgba(255, 255, 255, 0.936),
		118px -134px 0 -104px rgba(255, 255, 255, 0.605),
		14px 34px 0 -104px rgba(255, 255, 255, 0.31),
		-119px -144px 0 -104px rgba(255, 255, 255, 0.311),
		136px -60px 0 -104px rgba(255, 255, 255, 0.187),
		-49px -75px 0 -104px rgba(255, 255, 255, 0.683),
		-6px 109px 0 -104px rgba(255, 255, 255, 0.996),
		80px 26px 0 -104px rgba(255, 255, 255, 0.97),
		107px -120px 0 -104px rgba(255, 255, 255, 0.163),
		-64px -16px 0 -104px rgba(255, 255, 255, 0.245),
		-30px -77px 0 -104px rgba(255, 255, 255, 0.88),
		79px -9px 0 -104px rgba(255, 255, 255, 0.184),
		-32px -138px 0 -104px rgba(255, 255, 255, 0.183),
		21px -94px 0 -104px rgba(255, 255, 255, 0.893),
		-87px 12px 0 -104px rgba(255, 255, 255, 0.716),
		-3px 77px 0 -104px rgba(255, 255, 255, 0.237),
		-36px -89px 0 -104px rgba(255, 255, 255, 0.431),
		-144px 32px 0 -104px rgba(255, 255, 255, 0.99),
		-130px 91px 0 -104px rgba(255, 255, 255, 0.061),
		104px -69px 0 -104px rgba(255, 255, 255, 0.127),
		-4px -135px 0 -104px rgba(255, 255, 255, 0.909),
		58px -71px 0 -104px rgba(255, 255, 255, 0.084),
		72px -55px 0 -104px rgba(255, 255, 255, 0.971),
		-73px 22px 0 -104px rgba(255, 255, 255, 0.085),
		40px -122px 0 -104px rgba(255, 255, 255, 0.615),
		73px -144px 0 -104px rgba(255, 255, 255, 0.389),
		-75px 40px 0 -104px rgba(255, 255, 255, 0.786),
		139px -94px 0 -104px rgba(255, 255, 255, 0.003),
		113px -37px 0 -104px rgba(255, 255, 255, 0.962),
		45px 72px 0 -104px rgba(255, 255, 255, 0.331),
		-68px 49px 0 -104px rgba(255, 255, 255, 0.036),
		83px -28px 0 -104px rgba(255, 255, 255, 0.779),
		145px -39px 0 -104px rgba(255, 255, 255, 0.717),
		-114px 129px 0 -104px rgba(255, 255, 255, 0.21),
		145px 130px 0 -104px rgba(255, 255, 255, 0.705),
		77px 0px 0 -104px rgba(255, 255, 255, 0.362),
		-54px 114px 0 -104px rgba(255, 255, 255, 0.954),
		-82px 116px 0 -104px rgba(255, 255, 255, 0.063),
		-119px 59px 0 -104px rgba(255, 255, 255, 0.274),
		125px 93px 0 -104px rgba(255, 255, 255, 0.092),
		54px 28px 0 -104px rgba(255, 255, 255, 0.99),
		11px 133px 0 -104px rgba(255, 255, 255, 0.596),
		-70px 72px 0 -104px rgba(255, 255, 255, 0.245),
		53px -71px 0 -104px rgba(255, 255, 255, 0.75),
		-39px 24px 0 -104px rgba(255, 255, 255, 0.834),
		111px -112px 0 -104px rgba(255, 255, 255, 0.717),
		-27px -19px 0 -104px rgba(255, 255, 255, 0.034),
		-141px 25px 0 -104px rgba(255, 255, 255, 0.877),
		45px -91px 0 -104px rgba(255, 255, 255, 0.711),
		93px -82px 0 -104px rgba(255, 255, 255, 0.674),
		121px 84px 0 -104px rgba(255, 255, 255, 0.075),
		-41px -2px 0 -104px rgba(255, 255, 255, 0.7),
		-6px 97px 0 -104px rgba(255, 255, 255, 0.632),
		-60px -45px 0 -104px rgba(255, 255, 255, 0.263),
		-117px 81px 0 -104px rgba(255, 255, 255, 0.763),
		-120px 13px 0 -104px rgba(255, 255, 255, 0.984),
		-44px -51px 0 -104px rgba(255, 255, 255, 0.818),
		-88px -139px 0 -104px rgba(255, 255, 255, 0.045),
		-119px -49px 0 -104px rgba(255, 255, 255, 0.555),
		53px -13px 0 -104px rgba(255, 255, 255, 0.425),
		33px -33px 0 -104px rgba(255, 255, 255, 0.198),
		109px -116px 0 -104px rgba(255, 255, 255, 0.495),
		13px -131px 0 -104px rgba(255, 255, 255, 0.558),
		9px -57px 0 -104px rgba(255, 255, 255, 0.183),
		-105px -119px 0 -104px rgba(255, 255, 255, 0.765),
		8px 79px 0 -104px rgba(255, 255, 255, 0.421),
		0px -62px 0 -104px rgba(255, 255, 255, 0.687),
		-88px 112px 0 -104px rgba(255, 255, 255, 0.58),
		-31px -12px 0 -104px rgba(255, 255, 255, 0.444),
		34px -88px 0 -104px rgba(255, 255, 255, 0.626),
		80px -144px 0 -104px rgba(255, 255, 255, 0.75),
		74px -32px 0 -104px rgba(255, 255, 255, 0.681),
		62px 6px 0 -104px rgba(255, 255, 255, 0.503),
		47px -12px 0 -104px rgba(255, 255, 255, 0.106),
		93px 47px 0 -104px rgba(255, 255, 255, 0.185),
		-4px 60px 0 -104px rgba(255, 255, 255, 0.23),
		-18px 141px 0 -104px rgba(255, 255, 255, 0.142),
		57px 141px 0 -104px rgba(255, 255, 255, 0.527),
		93px -30px 0 -104px rgba(255, 255, 255, 0.695),
		67px -79px 0 -104px rgba(255, 255, 255, 0.437),
		107px 87px 0 -104px rgba(255, 255, 255, 0.487),
		84px 7px 0 -104px rgba(255, 255, 255, 0.478),
		-45px 137px 0 -104px rgba(255, 255, 255, 0.392),
		-99px -134px 0 -104px rgba(255, 255, 255, 0.872),
		122px -130px 0 -104px rgba(255, 255, 255, 0.939),
		-60px -64px 0 -104px rgba(255, 255, 255, 0.869),
		42px -5px 0 -104px rgba(255, 255, 255, 0.645),
		14px 140px 0 -104px rgba(255, 255, 255, 0.088),
		8px -21px 0 -104px rgba(255, 255, 255, 0.367),
		119px 25px 0 -104px rgba(255, 255, 255, 0.305),
		24px 119px 0 -104px rgba(255, 255, 255, 0.211),
		-78px -64px 0 -104px rgba(255, 255, 255, 0.879),
		-92px -98px 0 -104px rgba(255, 255, 255, 0.189),
		-21px 92px 0 -104px rgba(255, 255, 255, 0.41),
		56px 72px 0 -104px rgba(255, 255, 255, 0.466),
		-32px -1px 0 -104px rgba(255, 255, 255, 0.415),
		-38px 94px 0 -104px rgba(255, 255, 255, 0.169),
		136px -108px 0 -104px rgba(255, 255, 255, 0.071),
		-142px -83px 0 -104px rgba(255, 255, 255, 0.628),
		-116px -122px 0 -104px rgba(255, 255, 255, 0.27),
		136px -50px 0 -104px rgba(255, 255, 255, 0.464),
		131px -128px 0 -104px rgba(255, 255, 255, 0.485),
		-124px 90px 0 -104px rgba(255, 255, 255, 0.311),
		-12px -51px 0 -104px rgba(255, 255, 255, 0.066),
		104px -27px 0 -104px rgba(255, 255, 255, 0.085),
		-98px -8px 0 -104px rgba(255, 255, 255, 0.227),
		-79px -88px 0 -104px rgba(255, 255, 255, 0.512),
		47px -35px 0 -104px rgba(255, 255, 255, 0.148),
		-45px 78px 0 -104px rgba(255, 255, 255, 0.558),
		45px 65px 0 -104px rgba(255, 255, 255, 0.161),
		36px -122px 0 -104px rgba(255, 255, 255, 0.098),
		-141px 129px 0 -104px rgba(255, 255, 255, 0.439),
		-19px 55px 0 -104px rgba(255, 255, 255, 0.897),
		-126px -7px 0 -104px rgba(255, 255, 255, 0.712),
		105px -42px 0 -104px rgba(255, 255, 255, 0.627),
		-90px 81px 0 -104px rgba(255, 255, 255, 0.752),
		49px -95px 0 -104px rgba(255, 255, 255, 0.734),
		120px -72px 0 -104px rgba(255, 255, 255, 0.337),
		-98px -141px 0 -104px rgba(255, 255, 255, 0.599),
		92px -75px 0 -104px rgba(255, 255, 255, 0.632),
		-54px 22px 0 -104px rgba(255, 255, 255, 0.261),
		85px -109px 0 -104px rgba(255, 255, 255, 0.606),
		-113px 118px 0 -104px rgba(255, 255, 255, 0.756),
		117px 23px 0 -104px rgba(255, 255, 255, 0.513),
		11px -99px 0 -104px rgba(255, 255, 255, 0.067),
		141px -131px 0 -104px rgba(255, 255, 255, 0.686),
		71px -123px 0 -104px rgba(255, 255, 255, 0.62),
		-91px 119px 0 -104px rgba(255, 255, 255, 0.698),
		-135px 46px 0 -104px rgba(255, 255, 255, 0.991),
		-92px -140px 0 -104px rgba(255, 255, 255, 0.106),
		131px -86px 0 -104px rgba(255, 255, 255, 0.311),
		-104px -116px 0 -104px rgba(255, 255, 255, 0.445),
		20px 26px 0 -104px rgba(255, 255, 255, 0.395),
		-6px 145px 0 -104px rgba(255, 255, 255, 0.021),
		-24px 24px 0 -104px rgba(255, 255, 255, 0.691),
		-126px 3px 0 -104px rgba(255, 255, 255, 0.711),
		144px 31px 0 -104px rgba(255, 255, 255, 0.865),
		111px 73px 0 -104px rgba(255, 255, 255, 0.823),
		32px 50px 0 -104px rgba(255, 255, 255, 0.88),
		87px 64px 0 -104px rgba(255, 255, 255, 0.591),
		130px 88px 0 -104px rgba(255, 255, 255, 0.232),
		143px 98px 0 -104px rgba(255, 255, 255, 0.169),
		-35px -49px 0 -104px rgba(255, 255, 255, 0.175),
		106px 72px 0 -104px rgba(255, 255, 255, 0.386),
		53px -19px 0 -104px rgba(255, 255, 255, 0.968),
		-42px -62px 0 -104px rgba(255, 255, 255, 0.051),
		113px 0px 0 -104px rgba(255, 255, 255, 0.858),
		125px -66px 0 -104px rgba(255, 255, 255, 0.984),
		105px -140px 0 -104px rgba(255, 255, 255, 0.748),
		-132px -94px 0 -104px rgba(255, 255, 255, 0.68),
		80px -113px 0 -104px rgba(255, 255, 255, 0.028),
		-142px -9px 0 -104px rgba(255, 255, 255, 0.532),
		-108px 144px 0 -104px rgba(255, 255, 255, 0.855),
		0px 16px 0 -104px rgba(255, 255, 255, 0.058),
		25px -74px 0 -104px rgba(255, 255, 255, 0.256),
		-109px 15px 0 -104px rgba(255, 255, 255, 0.165),
		82px 17px 0 -104px rgba(255, 255, 255, 0.512),
		116px -103px 0 -104px rgba(255, 255, 255, 0.158),
		-60px 45px 0 -104px rgba(255, 255, 255, 0.264),
		-97px 60px 0 -104px rgba(255, 255, 255, 0.485),
		-140px 43px 0 -104px rgba(255, 255, 255, 0.705),
		15px -28px 0 -104px rgba(255, 255, 255, 0.113),
		36px 108px 0 -104px rgba(255, 255, 255, 0.092),
		-44px 7px 0 -104px rgba(255, 255, 255, 0.719),
		70px -107px 0 -104px rgba(255, 255, 255, 0.35),
		35px -38px 0 -104px rgba(255, 255, 255, 0.327),
		-128px 67px 0 -104px rgba(255, 255, 255, 0.874),
		-40px -56px 0 -104px rgba(255, 255, 255, 0.127),
		-56px 82px 0 -104px rgba(255, 255, 255, 0.622),
		116px -77px 0 -104px rgba(255, 255, 255, 0.642),
		95px 106px 0 -104px rgba(255, 255, 255, 0.994),
		-138px 86px 0 -104px rgba(255, 255, 255, 0.707),
		-98px 5px 0 -104px rgba(255, 255, 255, 0.612),
		133px -15px 0 -104px rgba(255, 255, 255, 0.72),
		140px 62px 0 -104px rgba(255, 255, 255, 0.895),
		-16px -116px 0 -104px rgba(255, 255, 255, 0.491),
		-64px -118px 0 -104px rgba(255, 255, 255, 0.065),
		-38px 98px 0 -104px rgba(255, 255, 255, 0.975),
		-77px -85px 0 -104px rgba(255, 255, 255, 0.483),
		-58px -22px 0 -104px rgba(255, 255, 255, 0.932),
		83px -7px 0 -104px rgba(255, 255, 255, 0.216),
		-70px -84px 0 -104px rgba(255, 255, 255, 0.609),
		-144px 127px 0 -104px rgba(255, 255, 255, 0.885),
		-66px -69px 0 -104px rgba(255, 255, 255, 0.461),
		-89px 21px 0 -104px rgba(255, 255, 255, 0.226),
		68px 12px 0 -104px rgba(255, 255, 255, 0.464),
		88px -57px 0 -104px rgba(255, 255, 255, 0.046),
		-45px 115px 0 -104px rgba(255, 255, 255, 0.51),
		128px 36px 0 -104px rgba(255, 255, 255, 0.166),
		-53px -47px 0 -104px rgba(255, 255, 255, 0.055),
		-88px 128px 0 -104px rgba(255, 255, 255, 0.01),
		128px -22px 0 -104px rgba(255, 255, 255, 0.34),
		117px 106px 0 -104px rgba(255, 255, 255, 0.373),
		-79px 17px 0 -104px rgba(255, 255, 255, 0.937),
		48px 68px 0 -104px rgba(255, 255, 255, 0.814),
		87px 139px 0 -104px rgba(255, 255, 255, 0.313),
		64px 128px 0 -104px rgba(255, 255, 255, 0.002),
		51px 87px 0 -104px rgba(255, 255, 255, 0.34),
		77px -21px 0 -104px rgba(255, 255, 255, 0.032),
		-45px 16px 0 -104px rgba(255, 255, 255, 0.05),
		-116px -23px 0 -104px rgba(255, 255, 255, 0.98),
		-18px -94px 0 -104px rgba(255, 255, 255, 0.164),
		-47px 145px 0 -104px rgba(255, 255, 255, 0.621),
		59px -57px 0 -104px rgba(255, 255, 255, 0.733),
		-10px -93px 0 -104px rgba(255, 255, 255, 0.884),
		-138px -49px 0 -104px rgba(255, 255, 255, 0.471),
		4px 27px 0 -104px rgba(255, 255, 255, 0.484),
		-37px 6px 0 -104px rgba(255, 255, 255, 0.313),
		28px -107px 0 -104px rgba(255, 255, 255, 0.398),
		-70px -101px 0 -104px rgba(255, 255, 255, 0.625),
		77px 20px 0 -104px rgba(255, 255, 255, 0.797),
		55px 45px 0 -104px rgba(255, 255, 255, 0.253),
		-63px -137px 0 -104px rgba(255, 255, 255, 0.825),
		72px -25px 0 -104px rgba(255, 255, 255, 0.461),
		-63px -27px 0 -104px rgba(255, 255, 255, 0.876),
		56px -69px 0 -104px rgba(255, 255, 255, 0.657),
		142px 73px 0 -104px rgba(255, 255, 255, 0.749),
		52px 90px 0 -104px rgba(255, 255, 255, 0.353),
		-61px 9px 0 -104px rgba(255, 255, 255, 0.608),
		24px -37px 0 -104px rgba(255, 255, 255, 0.826),
		-123px -107px 0 -104px rgba(255, 255, 255, 0.081),
		17px 95px 0 -104px rgba(255, 255, 255, 0.455),
		-123px 116px 0 -104px rgba(255, 255, 255, 0.514),
		134px 107px 0 -104px rgba(255, 255, 255, 0.358),
		63px -106px 0 -104px rgba(255, 255, 255, 0.815),
		-108px 78px 0 -104px rgba(255, 255, 255, 0.402),
		79px 1px 0 -104px rgba(255, 255, 255, 0.362),
		5px 16px 0 -104px rgba(255, 255, 255, 0.707),
		114px 33px 0 -104px rgba(255, 255, 255, 0.673),
		-73px 42px 0 -104px rgba(255, 255, 255, 0.869),
		11px -132px 0 -104px rgba(255, 255, 255, 0.823),
		75px -96px 0 -104px rgba(255, 255, 255, 0.256),
		-31px -134px 0 -104px rgba(255, 255, 255, 0.631),
		-44px -47px 0 -104px rgba(255, 255, 255, 0.558),
		130px -1px 0 -104px rgba(255, 255, 255, 0.844),
		47px -78px 0 -104px rgba(255, 255, 255, 0.494),
		26px 105px 0 -104px rgba(255, 255, 255, 0.559),
		122px 64px 0 -104px rgba(255, 255, 255, 0.405),
		81px -144px 0 -104px rgba(255, 255, 255, 0.016),
		-104px -127px 0 -104px rgba(255, 255, 255, 0.038),
		2px 116px 0 -104px rgba(255, 255, 255, 0.164),
		-38px 17px 0 -104px rgba(255, 255, 255, 0.917),
		-103px -41px 0 -104px rgba(255, 255, 255, 0.961),
		-21px -54px 0 -104px rgba(255, 255, 255, 0.583),
		125px -133px 0 -104px rgba(255, 255, 255, 0.167),
		-36px 57px 0 -104px rgba(255, 255, 255, 0.617),
		-70px -130px 0 -104px rgba(255, 255, 255, 0.985),
		-132px -5px 0 -104px rgba(255, 255, 255, 0.546),
		89px -140px 0 -104px rgba(255, 255, 255, 0.378),
		-76px -121px 0 -104px rgba(255, 255, 255, 0.282),
		-106px 110px 0 -104px rgba(255, 255, 255, 0.141),
		-135px 21px 0 -104px rgba(255, 255, 255, 0.881),
		-128px -15px 0 -104px rgba(255, 255, 255, 0.165),
		31px -69px 0 -104px rgba(255, 255, 255, 0.481),
		-137px 4px 0 -104px rgba(255, 255, 255, 0.629),
		64px 81px 0 -104px rgba(255, 255, 255, 0.943),
		58px 134px 0 -104px rgba(255, 255, 255, 0.548),
		116px 140px 0 -104px rgba(255, 255, 255, 0.898),
		-137px -86px 0 -104px rgba(255, 255, 255, 0.575),
		-59px 79px 0 -104px rgba(255, 255, 255, 0.083),
		87px -48px 0 -104px rgba(255, 255, 255, 0.61),
		121px 114px 0 -104px rgba(255, 255, 255, 0.14),
		-114px -42px 0 -104px rgba(255, 255, 255, 0.361),
		27px -19px 0 -104px rgba(255, 255, 255, 0.304),
		137px -133px 0 -104px rgba(255, 255, 255, 0.904),
		67px -40px 0 -104px rgba(255, 255, 255, 0.946),
		-50px 91px 0 -104px rgba(255, 255, 255, 0.147),
		-7px 145px 0 -104px rgba(255, 255, 255, 0.024),
		141px 57px 0 -104px rgba(255, 255, 255, 0.114),
		91px -92px 0 -104px rgba(255, 255, 255, 0.075),
		141px 12px 0 -104px rgba(255, 255, 255, 0.476),
		-7px 36px 0 -104px rgba(255, 255, 255, 0.25),
		18px 10px 0 -104px rgba(255, 255, 255, 0.801),
		19px -92px 0 -104px rgba(255, 255, 255, 0.782),
		-85px 117px 0 -104px rgba(255, 255, 255, 0.158),
		133px 38px 0 -104px rgba(255, 255, 255, 0.24),
		107px 84px 0 -104px rgba(255, 255, 255, 0.474),
		-74px -41px 0 -104px rgba(255, 255, 255, 0.34),
		-30px 91px 0 -104px rgba(255, 255, 255, 0.047),
		-51px -119px 0 -104px rgba(255, 255, 255, 0.823),
		-67px -85px 0 -104px rgba(255, 255, 255, 0.28),
		134px 144px 0 -104px rgba(255, 255, 255, 0.456),
		-20px -72px 0 -104px rgba(255, 255, 255, 0.443),
		-75px -73px 0 -104px rgba(255, 255, 255, 0.49),
		45px 19px 0 -104px rgba(255, 255, 255, 0.517),
		81px -85px 0 -104px rgba(255, 255, 255, 0.031),
		-46px -97px 0 -104px rgba(255, 255, 255, 0.479),
		45px -40px 0 -104px rgba(255, 255, 255, 0.52),
		38px -62px 0 -104px rgba(255, 255, 255, 0.064),
		-85px -40px 0 -104px rgba(255, 255, 255, 0.819),
		34px -76px 0 -104px rgba(255, 255, 255, 0.33),
		67px 136px 0 -104px rgba(255, 255, 255, 0.63),
		2px 134px 0 -104px rgba(255, 255, 255, 0.051),
		-77px 58px 0 -104px rgba(255, 255, 255, 0.9),
		-16px -29px 0 -104px rgba(255, 255, 255, 0.553),
		-102px -99px 0 -104px rgba(255, 255, 255, 0.64),
		30px 70px 0 -104px rgba(255, 255, 255, 0.632),
		118px -103px 0 -104px rgba(255, 255, 255, 0.966),
		130px 58px 0 -104px rgba(255, 255, 255, 0.998),
		-28px -106px 0 -104px rgba(255, 255, 255, 0.151),
		-113px -99px 0 -104px rgba(255, 255, 255, 0.026),
		-71px -57px 0 -104px rgba(255, 255, 255, 0.024),
		133px -67px 0 -104px rgba(255, 255, 255, 0.339),
		102px -31px 0 -104px rgba(255, 255, 255, 0.282),
		-92px -53px 0 -104px rgba(255, 255, 255, 0.856),
		-49px -108px 0 -104px rgba(255, 255, 255, 0.998),
		27px 38px 0 -104px rgba(255, 255, 255, 0.576),
		-90px 61px 0 -104px rgba(255, 255, 255, 0.68),
		-98px 10px 0 -104px rgba(255, 255, 255, 0.911),
		-83px 67px 0 -104px rgba(255, 255, 255, 0.854),
		143px 131px 0 -104px rgba(255, 255, 255, 0.835),
		-28px 118px 0 -104px rgba(255, 255, 255, 0.316),
		85px 75px 0 -104px rgba(255, 255, 255, 0.339),
		130px 33px 0 -104px rgba(255, 255, 255, 0.916),
		73px -43px 0 -104px rgba(255, 255, 255, 0.723),
		23px -114px 0 -104px rgba(255, 255, 255, 0.512),
		4px 121px 0 -104px rgba(255, 255, 255, 0.995),
		-6px -47px 0 -104px rgba(255, 255, 255, 0.224),
		34px -110px 0 -104px rgba(255, 255, 255, 0.525),
		-16px -114px 0 -104px rgba(255, 255, 255, 0.121),
		37px 49px 0 -104px rgba(255, 255, 255, 0.666),
		78px 62px 0 -104px rgba(255, 255, 255, 0.822),
		-55px 81px 0 -104px rgba(255, 255, 255, 0.57),
		0px -65px 0 -104px rgba(255, 255, 255, 0.297),
		121px 81px 0 -104px rgba(255, 255, 255, 0.596),
		-47px -6px 0 -104px rgba(255, 255, 255, 0.235),
		-133px -99px 0 -104px rgba(255, 255, 255, 0.474),
		-109px 131px 0 -104px rgba(255, 255, 255, 0.665),
		84px 14px 0 -104px rgba(255, 255, 255, 0.217),
		47px -101px 0 -104px rgba(255, 255, 255, 0.397),
		-40px -83px 0 -104px rgba(255, 255, 255, 0.855),
		-125px -17px 0 -104px rgba(255, 255, 255, 0.717),
		119px 124px 0 -104px rgba(255, 255, 255, 0.288),
		-131px 85px 0 -104px rgba(255, 255, 255, 0.187),
		143px -34px 0 -104px rgba(255, 255, 255, 0.433),
		42px 18px 0 -104px rgba(255, 255, 255, 0.674),
		-68px 18px 0 -104px rgba(255, 255, 255, 0.463),
		-100px -42px 0 -104px rgba(255, 255, 255, 0.221),
		-61px -78px 0 -104px rgba(255, 255, 255, 0.576),
		89px 57px 0 -104px rgba(255, 255, 255, 0.702),
		-83px -137px 0 -104px rgba(255, 255, 255, 0.963),
		143px 44px 0 -104px rgba(255, 255, 255, 0.908),
		-53px 43px 0 -104px rgba(255, 255, 255, 0.398),
		108px -92px 0 -104px rgba(255, 255, 255, 0.729),
		-98px 121px 0 -104px rgba(255, 255, 255, 0.791),
		-52px 56px 0 -104px rgba(255, 255, 255, 0.043),
		-72px -96px 0 -104px rgba(255, 255, 255, 0.89);
}

.pluto {
	height: 780px;
	width: 780px;
	margin-top: -450px;
	margin-left: -320px;
	-webkit-animation: orb 743.97074054575s linear infinite;
	animation: orb 743.97074054575s linear infinite;
}
.pluto:before {
	height: 3px;
	width: 3px;
	background: #fff;
	margin-top: -1.5px;
	margin-left: -1.5px;
}

@-webkit-keyframes orb {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

@keyframes orb {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
