/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


body {
 
    
  
  
  background: #1f1f1f;
}
.App {
  font-family: monospace, sans-serif;
  text-align: center;
  color: white;
}
footer,header {
  background: black;
  color: white;
  padding: 3em;
  border-radius: 1em;
  text-align: start;
}
footer,header a {
  color: white;
  font-size: 1.5em;
  margin: 1em;
  font-weight: bolder;
}

button.startpage {
  margin-top: 2rem;
  text-align: center;
  position: relative;
  padding: 20px 40px; /* Increase padding */
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 20px; /* Increase font size */
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button.startpage:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button.startpage:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button.startpage::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button.startpage:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}




.text {
  display: inline-block;
  font:  0.5em sans-serif;
  color: #fff;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
}

/* .cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease;
  pointer-events: none;
  mix-blend-mode: difference;
}
text:hover ~ .cursor {
  transform: scale(6);
  box-shadow: 0 0 10px #fff;
  color: #000;
} */